* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222121;
}

div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 350px;
}

div span {
  position: absolute;
  width: 350px;
  height: 120px;
  border-radius: 50%;
  border: 10px solid #03b8ff;
  box-shadow: 0 0 30px #4ab5f3,
    5px 6px 10px #1a1919,
    inset 8px 3px 20px #222222;
}

div span:nth-child(1) {
  transform: rotate(0deg);
  animation: 5s animate1 infinite;
  animation-delay: 1s;
}

div span:nth-child(2) {
  transform: rotate(120deg);
  animation: 6s animate2 infinite;
  animation-delay: 1s;
}

div span:nth-child(3) {
  transform: rotate(240deg);
  animation: 7s animate1 infinite;
  animation-delay: 1s;
}

@keyframes animate1 {
  50% {
    transform: rotate(360deg);
  }
}

@keyframes animate2 {
  50% {
    transform: rotate(420deg);
  }
}

@keyframes animate3 {
  50% {
    transform: rotate(480deg);
  }
}

div span:nth-child(4) {
  width: 40px;
  height: 40px;
  background: #03b8ff;
  border: 0;
  box-shadow: inset 0 0 20px #222121;
}


/* --------------- Section Main --------------- */

.section-main {
  width: 100%;
  min-height: 100vh;
  margin-top: 110px;
  padding: 10px 0;
}

.section-main .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1140px;
  margin: 5px;
  padding: 0;
}

.section-main .container .box-item {
  width: 105px;
  height: 95px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  background-color: #fff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 0 18px #A9A9A9;
  transition: all .3s ease;
}

.section-main .container .box-item img {
  width: 100%;
  height: 50px;
  border-radius: 3px;
}

.section-main .container .box-item a {
  color: #111;
  font-size: 13px;
  font-weight: 500;
  padding: 5px;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: aqua;
  transition: .3s ease;
}
.section-main .container .box-item a:hover {
  background-color: #bbb;
}

/* --------------- Video Popup --------------- */
.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 1000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: none;
}

.active {
  visibility: visible;
  opacity: 1;
}

.popup .close {
  position: absolute;
  top: 160px;
  right: 30px;
  cursor: pointer;
  filter: invert(1);
  font-size: 32px;
  
}

.popup iframe {
  position: relative;
  max-width: 900px;
  outline: none;
}
@media (max-width: 991px) {
  .popup iframe {
    max-width: -90%;
  }
}

/* ----- popup 2 ----- */

.popup2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 1000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: none;
}

.active {
  visibility: visible;
  opacity: 1;
}

.popup2 .close {
  position: absolute;
  top: 160px;
  right: 30px;
  cursor: pointer;
  filter: invert(1);
  font-size: 32px;
}
.popup2 iframe {
  position: relative;
  max-width: 900px;
  outline: none;
}
@media (max-width: 991px) {
  .popup2 iframe {
    max-width: -90%;
  }
}